<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home EJS</title>
</head>
<body>
    <h1>Home EJS</h1>
    <h3> <%= 1+2 %></h3>
    <h3> <%= 3*5 %></h3>
    <h3> <%= 'luckykashyap'.toUpperCase() %></h3>
    <h3> <%= ['hello','bonjour','namaste'][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet doloremque ea perspiciatis laboriosam, quisquam aspernatur dolor architecto est, iste, iure facilis cum aut labore hic vel! Explicabo neque asperiores rerum?</p>
    <button>Click Me...!</button>
</body>
</html>