<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta username page</title>
</head>
<body>
    <h1>Welcome To your profile <%= name %></h1>
    <button>Follow</button>
    <button>Log in</button>
</body>
</html>